.error-main {
    color: #ff6060;
}

.error-main p {
    display: block;
    text-align: center;
}

.error-num {
    margin: 120px auto 0 auto;
    font-size: 7rem;
    font-weight: 700;
}

.error-txt {
    line-height: 150%;
    font-weight: 500;
}

.error-main a {
    display: block;
    text-align: center;
    margin-top: 110px;
    color: #ff6060;
}

.error-main a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
.error-num {
    font-size: 12rem;
}

.error-txt {
    font-size: 1.7rem;
    margin-top: 20px;
}
}