.container-gallery{
    position: relative;
    padding: 0 15px;
    max-width: 1280px;
    margin: auto;
    height: 415px;
}


.gallery{
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 25px;
}

.gallery img{
    width: 100%;
    border-radius: 25px;
    padding: 0 10px;
    height: 415px;
    object-fit: cover;
    transition: opacity 1s;
}

.container-gallery .fas{
    position: absolute;
    top: 50%;
    color: #f1f1f1;
    font-size: 4rem;
    transition: color 0.5s;
    transform: translateY(-50%);
}
.fa-chevron-left{
    left: 40px;
}
.fa-chevron-right{
    right: 40px;
}

.container-gallery .fas:hover{
    cursor: pointer;
    color: #ff6060;
}